div {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5a82845bb7411cbbaf736525/1585417267803-N8M5NV9OIIS0G9ASX28B/65313774_10158596690628266_8676812859751006208_n.jpg?format=1000w');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}